@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    color: #000;
    font-family: monospace, "Courier New", Courier;
    line-height: 1.6em;
    padding: 1em;
    margin: auto;
    max-width: 62em;
    background: #fefefe;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 14pt;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 14pt;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 11pt;
    }
}

@media only screen and (max-width: 479px) {
    body {
        font-size: 8pt;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    body {
        font-size: 9.5pt;
    }
}

@media only screen and (min-device-width: 1200px) {
    body {
        font-size: 10pt;
    }
}

.abstract {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #59402D;
    background-color: #fcf8e3;
    border-color: #c9ba9b;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    font-family: Helvetica, Arial, sans-serif;
    border: 0;
    color: #fff;
    background-color: #1074E7;
    border-radius: 4px;
    text-decoration: none;
    padding: 4px 10px 2px 10px;
}

.btn:hover {
    color: #fff;
    background-color: #ee8D09;
    text-decoration: none;
}

tr, td {
    margin: 0;
    padding: 0 5px 0 0;
    vertical-align: top;
}

code {
    font-family: "Courier New", Courier;
    color: #333;
}

pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #f4f4f4;
    border-radius: 6px;
    border-left: 3px solid #F0AD4E;
}

a {
    color: #1168CC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

iframe {
    border: 1px solid #aaa;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #EEE solid;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #eee;
    margin: 1em 0;
    padding: 0;
}

.posted-by {
    font-size: small;
    padding: 10px 0;
    color: #333;
}

.center-image {
    display: block;
    margin: auto;
}

.divider {
    position: relative;
    margin: 3.5em 0 3.5em 0;
    height: 1px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

.div-arrow-down:after {
    content: "";
    /* margin: 3.5em 0 3.5em 0; */
    position: absolute;
    z-index: 1;
    top: -7px;
    left: calc(50% + 1rem);
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background-color: white;
    border-bottom: 1px solid rgb(48, 49, 51);
    border-right: 1px solid rgb(48, 49, 51);
}

.tags {
    display: block;
    text-align: center;
}

.link {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    /* text-transform: uppercase; */
}

/*
* These styles creates the underlining of link
*/

.link {
    position: relative;
    z-index: 1;
    display: inline-flex;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.link > a {
    color: #1168CC;
    text-decoration: none !important;
}

.link::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #d7fbe8 25%, rgba(0, 0, 0, 0) 40%);
    position: absolute;
    left: 0;
    bottom: 2px;
    z-index: -1;
    will-change: width;
    transform: rotate(-2deg);
    transform-origin: left bottom;
}

.link:hover::before {
    width: 0;
}

/*
* animation styles
*/

.link::before {
    transition: width .1s ease-out;
}

.link:hover::before {
    transition-duration: .15s;
}



#link-active::before {
    background-image: linear-gradient(to top, #1fab89 25%, rgba(0, 0, 0, 0) 40%) !important;
}

#link-tag::before {
    background-image: linear-gradient(to top, #9df3c4 25%, rgba(0, 0, 0, 0) 40%) !important;
}

#post-link {
    font-weight: unset !important;
    font-size: 10pt !important;
    padding-left: unset !important;
    padding-bottom: unset !important;
}

#post-link::before {
    width: 0!important;
    background-image: linear-gradient(to top, #edf798 25%, rgba(0, 0, 0, 0) 40%) !important;
}

#post-link:hover::before {
    width: 100%!important;
}

.contact-container{
    display: block;
    text-align: center!important;
    color: white !important;
}

.contact-container a {
    color: white !important;
}

.back-home a{
    text-decoration: none;
    font-size: 25pt;
    font-weight: 900;
}

.back-home span {
    text-decoration: none;
    font-size: 15pt;
    font-weight: bolder;
    padding-left: 0.5em;
}